*{
    padding: 0;
    margin: 0;
    
}
/*nav{
    display: inline;
}
#logo{
    width: 3px;
    height: 20px;
}
.class{
    display: none;
    flex-direction: column;
}
.class ul{
    display: inline;
}
.class ul li{
    display: inline;
}
.class ul li a{
    display: inline;
}*/
.topic{
    text-align: center;
}
header{
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-clip: padding-box;
    padding: 20px;
}

nav{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding-bottom: 50px;
    
}
.logo img{
    display: inline;
    width: 19%;
    border-radius: 60px;
}
.link{
    display: inline;
}
li{
    display: inline;
    padding-right: 20px;
    text-decoration: none;
    font-size: 20px;
    padding-top: 50px;
}
.header-information{
    text-align: center;
    vertical-align: center;
    
}
a{
    text-decoration: none;
    padding-top: 50px;
}
a:hover{
    border: 40px;
    border-radius: 10%;
    background-color: rgb(206, 13, 61);
    color:green;
    transition: .9s;
    border-bottom: 3px solid black;
}
.article{
    width: 60%;
    text-align: justify;
    
    background-position: center;
    background-size: cover;
}
.article h1{
    color: rgb(15, 201, 24);
}
.sub-menu{
    display: none;
}
#check:hover .sub-menu{
    display: flex;
    position: absolute;
    flex-direction: column;
    background-color: aqua;

}

